
@{
}

<html>
    <head>
        <title>Mi Layout</title>
    </head>
    <body>
        <h1>Nueva Template</h1>
        <a asp-action="Index" asp-controller="Home">Incio</a>
        <a asp-action="Privacy" asp-controller="Home">Acerca de</a>
        <a asp-action="Contact" asp-controller="Home">Contacto</a>

        @RenderBody()
    </body>
</html>