<div style="margin-top: -110px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white experiencia-i habilidades">
            <h3><i class="bi bi-hdd-fill"></i> Backend</h3>
            <p>
                Trabajo desde el desarrollo,
                pruebas automaticas
                y puesta en producción con entrega continua.
            </p>
            <p class="text-primary cabecera">Stack</p>
            <p class="text-primary cabecera">
                Experiencia</>
                <ul>
                    <li>Web Api</li>
                    <li>Entity Framework</li>
                    <li>Dapper</li>
                    <li>Queries especiales</li>
                </ul>
        </div>

        <div class="col col-3 bg-white experiencia-d habilidades">
            <h3><i class="bi bi-code-slash"></i> Frontend</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requisitos del negocio
            </p>
            <p class="text-primary cabecera">Stack</p>
            <p class="text-primary cabecera">
                Experiencia</>
                <ul>
                    <li>Angualas Material</li>
                    <li>Blazor</li>
                    <li>JQuery</li>
                    <li>Pruebas automanticas</li>
                    <li>Markdown</li>
                </ul>
        </div>
    </div>
</div>