<div class="text-center">
    <h1 class="display-4">Soy Jose Lopez Palencia</h1>
    <h2>
        Soy un desarrollador con pasión por crear solusiones
        innovadoras y eficientes a través del software.
    </h2>
    <img src="~/images/foto01.jpg" alt="Foto de Perfil" class="profile-picture" />
</div>

<div class="text-center mb-3 logo">
    <img class="img-fluid w-25" src="~/images/dotnet-imagen-2.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h2>Bienvenido a mi portafolio</h2>
        <p>
            Soy un programador con más de 13 años de experiencia en el desarrollo de software
            he trabajado en proyectos de diferentes tamaños y complejidades utilizando varios
            lenguajes de programación y tecnologías.
            Entre mis principales poryectos destacan la implementación de un sistema de gestión
            de ventas y control de inventario para una cadena de tiendas electrónica,
            utilizando C# y MSSQL, cumpliendo con los requerimientos del cliente
            y con altos estandares de calidad.
        </p>
    </div>
</div>