
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerse en contacto conmigo</h1>
<p>Le contestare el mensaje los más pronto posible</p>
<a class="btn btn-primary" asp-action="Index">Volver al inicio</a>