@model TipoCuenta

@{
    ViewData["Title"] = "Borrar Tipo de Cuenta";
}

<h3 class="mb-3">
    Esta seguro que quiere borrar este tipo de cuenta: @Model.Nombre
</h3>

<form asp-action="BorrarTipoCuenta">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Borrar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>