@model TipoCuenta

@{
    ViewData["Title"] = "Crear tipo de cuenta";
}

<h1>@ViewData["Title"]</h1>
<h5>EL tipo de cuenta se refiere a como se puede agrupar cuentas.
    Ejemplo préstamos, tarjetas de crédito, etc. </h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Crear">
    <div class="mb-3">
        <label class="form-label" asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    @*<div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Url" class="form-label"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TarjetaCredito" class="form-label"></label>
        <input asp-for="TarjetaCredito" class="form-control" />
        <span asp-validation-for="TarjetaCredito" class="text-danger"></span>
    </div>*@

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}