@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<h1>Contacto</h1>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
</div>

<h2>Ejemplo Vertical</h2>
<div class="row">
    <div class="col-sm-4">Columna 1</div>
    <div class="col-sm-4">Columna 2</div>
    <div class="col-sm-4">Columna 3</div>
</div>

<h4>Ejemplo 1: Gutter Horizontal</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-warning border">
            Columna 1
        </div>
    </div>
    <div class="col">
        <div class="bg-warning border">
            Columna 2
        </div>
    </div>
</div>

<h4>Ejemplo 2: Gutter vertical</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5 gy-0">
    <div class="col-6">
        <div class="bg-warning">
            Columna 1
        </div>
    </div>
    <div class="col-6"><div class="bg-warning">Columna 2</div></div>
    <div class="col-6"><div class="bg-warning">Columna 3</div></div>
    <div class="col-6"><div class="bg-warning">Columna 4</div></div>
</div>

<h2>Ejemplo 3: Gutter</h2>
<div class="row g-5">
    <div class="col-6">
        <div class="bg-warning border">
            columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-warning border">
            columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-warning border">
            columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-warning border">
            columna 4
        </div>
    </div>
</div>*@

<h4>Ejemplo 1: Imagenes en columnas</h4>

<div class="row my-3">
    <div class="col-4">
        <img class="img-fluid" src="https://picsum.photos/800/800?random=1">
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://picsum.photos/800/800?random=2">
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://picsum.photos/800/800?random=3">
    </div>
</div>